#wpp-carousel-slide-table {
	width:100%;
	tbody {
		td {
			padding:10px 0;
			margin:0;
			vertical-align:top;
			&.wpp-carousel-slide-colunm-1, &.wpp-carousel-slide-colunm-4 {
				vertical-align:middle;
				width:2%;
			}
			&.wpp-carousel-slide-colunm-2 {
				width:155px;
				text-align:center;
			}
			&.wpp-carousel-slide-colunm-3 > textarea {
				height:58px;
			}
		}
		.wpp-carousel-slide-empty, .wpp-carousel-slide-not-implamented {
			font-weight:bold;
			font-size:16px;
			text-align:center;
		}
	}
	thead th, tbody td {
		border-bottom: 1px solid #EEE;
	}
	.wpp-carousel-slide-sort {
		background-color:#FAFAFA;
		width:100%;
		height:100%;
		font-size:24px;
	}
	.wpp-carousel-slide-sort:hover {
		cursor:move;
	}
	.wpp-carousel-slide-buttons {
		padding-top:15px;
		padding-bottom:15px;
		text-align:right;
	}
	.wpp-carousel-slide-not-implamented, .wpp-carousel-slide-sort, .wpp-carousel-slide-empty {
		padding-top:70px;
		padding-bottom:70px;
	}
	.wpp-carousel-slide-image {
		width:150px;
		height:150px;
	}
	.wpp-carousel-slide-image-not-selected {
		background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNTAiIGhlaWdodD0iMTUwIj48cmVjdCB3aWR0aD0iMTUwIiBoZWlnaHQ9IjE1MCIgZmlsbD0iIzNhNWE5NyI+PC9yZWN0Pjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9Ijc1IiB5PSI3NSIgc3R5bGU9ImZpbGw6I2ZmZjtmb250LXdlaWdodDpib2xkO2ZvbnQtc2l6ZToxMnB4O2ZvbnQtZmFtaWx5OkFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmO2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPk5vIEltYWdlIFNlbGVjdGVkPC90ZXh0Pjwvc3ZnPg==");
	}
	.wpp-carousel-slide-image-not-available {
		background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNTAiIGhlaWdodD0iMTUwIj48cmVjdCB3aWR0aD0iMTUwIiBoZWlnaHQ9IjE1MCIgZmlsbD0iIzBEOEZEQiI+PC9yZWN0Pjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9Ijc1IiB5PSI3NSIgc3R5bGU9ImZpbGw6I2ZmZjtmb250LXdlaWdodDpib2xkO2ZvbnQtc2l6ZToxMnB4O2ZvbnQtZmFtaWx5OkFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmO2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPk5vIEltYWdlIEF2YWlsYWJsZTwvdGV4dD48L3N2Zz4=");
	}
}
