/* Hide the WordPress items we will not be using */
#edit-slug-box, #visibility, #preview-action, #message.updated > p > a {
	display:none;
}
/* Hack to hide the content alias metabox.... TODO: finish the plugin! */
#wppca_metabox{
	display:none;
}
#wpp-slideshow-settings-meta-box {
	& > div.handlediv {
		display:none;
	}
	#publish {
		//height: 25px;
		//line-height: 28px;
	}
	#publishing-action {
		//margin-top: -3px;
		//margin-right: -5px;
	}
}
#submitdiv {
	display:none;
}