#wpp-slideshow-slides-meta-box > div.handlediv {
  display: none; }

#wpp-slideshow-slides-table {
  width: 100%; }
  #wpp-slideshow-slides-table tbody td {
    padding: 10px 0;
    margin: 0;
    vertical-align: top; }
    #wpp-slideshow-slides-table tbody td.wpp-slideshow-slides-colunm-1, #wpp-slideshow-slides-table tbody td.wpp-slideshow-slides-colunm-4 {
      vertical-align: middle;
      width: 2%; }
    #wpp-slideshow-slides-table tbody td.wpp-slideshow-slides-colunm-2 {
      width: 155px;
      text-align: center; }
    #wpp-slideshow-slides-table tbody td.wpp-slideshow-slides-colunm-3 > textarea {
      height: 58px; }
  #wpp-slideshow-slides-table tbody .wpp-slideshow-slides-empty, #wpp-slideshow-slides-table tbody .wpp-slideshow-slides-not-implamented {
    font-weight: bold;
    font-size: 16px;
    text-align: center; }
  #wpp-slideshow-slides-table thead th, #wpp-slideshow-slides-table tbody td {
    border-bottom: 1px solid #EEE; }
  #wpp-slideshow-slides-table .wpp-slideshow-slides-sort {
    background-color: #FAFAFA;
    width: 100%;
    height: 100%;
    font-size: 24px; }
  #wpp-slideshow-slides-table .wpp-slideshow-slides-sort:hover {
    cursor: move; }
  #wpp-slideshow-slides-table .wpp-slideshow-slides-buttons {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: right; }
  #wpp-slideshow-slides-table .wpp-slideshow-slides-not-implamented, #wpp-slideshow-slides-table .wpp-slideshow-slides-sort, #wpp-slideshow-slides-table .wpp-slideshow-slides-empty {
    padding-top: 70px;
    padding-bottom: 70px; }
  #wpp-slideshow-slides-table .wpp-slideshow-slides-image {
    width: 150px;
    height: 150px; }
  #wpp-slideshow-slides-table .wpp-slideshow-slides-image-not-selected {
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNTAiIGhlaWdodD0iMTUwIj48cmVjdCB3aWR0aD0iMTUwIiBoZWlnaHQ9IjE1MCIgZmlsbD0iIzNhNWE5NyI+PC9yZWN0Pjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9Ijc1IiB5PSI3NSIgc3R5bGU9ImZpbGw6I2ZmZjtmb250LXdlaWdodDpib2xkO2ZvbnQtc2l6ZToxMnB4O2ZvbnQtZmFtaWx5OkFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmO2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPk5vIEltYWdlIFNlbGVjdGVkPC90ZXh0Pjwvc3ZnPg=="); }
  #wpp-slideshow-slides-table .wpp-slideshow-slides-image-not-available {
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNTAiIGhlaWdodD0iMTUwIj48cmVjdCB3aWR0aD0iMTUwIiBoZWlnaHQ9IjE1MCIgZmlsbD0iIzBEOEZEQiI+PC9yZWN0Pjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9Ijc1IiB5PSI3NSIgc3R5bGU9ImZpbGw6I2ZmZjtmb250LXdlaWdodDpib2xkO2ZvbnQtc2l6ZToxMnB4O2ZvbnQtZmFtaWx5OkFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmO2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPk5vIEltYWdlIEF2YWlsYWJsZTwvdGV4dD48L3N2Zz4="); }
